/* Editor.tsx */
.editor {
    font-family: monospace;
    font-size: 14px;
}

/* EditorRow.tsx */

.editor-row { }
.editor-section-row { }

.editor-cell {
    display: inline;
}

.editor-sec-offs {
    color: darkgray;
    padding-right: 32px;
}

.editor-sec-label {
    color: gray;
}

.editor-offs-cell {
    color: blue;
    padding-right: 32px;
}

.editor-byte-cell {
    padding: 4px 8px 4px 8px;
}

.editor-bytes {
    display: inline;
    padding-right: 32px;
}

.editor-ascii {
    display: inline;
}

/* EditorScrollbox.tsx */
.editor-scrollbox {
    position: relative;
    background-color: white;
    overflow: hidden;
}

.editor-scrollbar {
    position: absolute;
    width: 8px;
    right: 0;
    top: 0;
    background-color: silver;
    opacity: 0.5;
}

.editor-scroll {
    position: absolute;
    width: 8px;
    background-color: gray;
    border-radius: 4px;
    font-size: 0px;
}

/* LoadModal.tsx */
#drop-zone {
    border: 2px dashed #bbb;
    padding: 25px;
    text-align: center;
    color: #bbb;
}

#layout {
    position: absolute;
    width: 100%;
    height: 80%;
}

body {
    background-color: black;
    font-family: 'Segoe UI', sans-serif;
}